/* =============== TYPOGRAPHY ================ */
.about-subtitle {
    font-size: larger;
    margin-bottom: 1em;
    color: var(--clr-hl-4);
}

.objectiveTitle {
    font-size: 2em;
    line-height: 1.2;
    margin-top: 2em;
}

.sectionManagement {
    width: 96%;
    margin: 0 auto;
    border-bottom: 1px solid var(--clr-hl);
}

.managementSectionTitle {
    position: relative;
}

.managementSectionTitle::after {
    content: "";
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
    background: rgb(213, 46, 46);
    background: linear-gradient(114deg, rgba(213, 46, 46, 1) 0%, rgba(201, 27, 27, 1) 47%, rgba(148, 37, 37, 1) 100%);
}

.section--subtitle {
    padding: 1.5em 0 0.5em;
    letter-spacing: 1.5px;
}

.management-description,
.objectiveBody {
    letter-spacing: 1px;
    margin-top: 1em;
}

.management-description {
    font-weight: 700;
    font-size: 1.2em;
}

.cutoffText {
    --max-lines: 6;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    position: relative;
    overflow: hidden;
}

.cutoffText:has(+ .expandBtn:not(:checked))::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, var(--clr-light));

}

.expandBtn {
    appearance: none;
    margin-top: 0.5em;
    cursor: pointer;
    margin-bottom: 2em;
    position: relative;
}


.expandBtn::before {
    content: "Expand";
    color: var(--clr-light);
    letter-spacing: 1.2px;
    position: absolute;
    border: 1px solid var(--clr-hl-4);
    border-radius: 6px;
    background-color: var(--clr-hl-4);
    padding: 0.5em;
}

.expandBtn:hover::before {
    color: var(--clr-hl-4);
    border: 1px solid var(--clr-hl);
    background-color: var(--clr-hl);
}

.expandBtn:checked::before {
    content: "Collapse";
}

.cutoffText:has(+ .expandBtn:checked) {
    max-height: none;
}


/* =============== LAYOUT ================ */

.sectionAbout,
.sectionManagement {
    max-width: 900px;
    margin: 4em auto 0;
}

.sectionVision {
    background: rgb(3, 97, 116);
    background: radial-gradient(circle, rgba(184, 253, 191, 0.3) 0%, rgb(8, 77, 69) 0%, rgb(3, 97, 116) 100%);
    color: var(--clr-light);
    margin-top: 5em;
    padding-bottom: 5em;
}

.visionList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 4em;
    max-width: 1000px;
    margin: 0 auto;

}


.visionCard {
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 0 auto;
}

.visionCardImageContainer {
    height: 35vh;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.visionImage {
    object-fit: cover;
}


.visionBody {
    padding: 0 1em;
}

.visionText,
.visionTitle {
    letter-spacing: 0.1em;
}

.visionTitle {
    margin: 0 0 1.5em;
}

.visionText {
    font-size: 1.2rem;
    padding-bottom: 2em;
}



.objective {
    margin: 2em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.objectiveImageContainer {
    margin-bottom: 1em;
    width: 100%;
    height: 40vh;
    position: relative;
}

.objectiveImage {
    object-fit: contain;
}

.objectiveText {
    width: 100%;
    padding: 1em;
}

.sectionManagement {
    max-width: 900px;
    padding: 3.5em 0.5em 3.5em;
}

.profileContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.profile,
.management {
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile {
    background-color: transparent;
    padding: 1em 0.2em 0;
    justify-content: center;
    margin: 2em auto;
    cursor: pointer;
}


.management {
    background-color: #f0f8ff;
    padding: 1em 1.5em;
    border-radius: 6px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top: 8px solid var(--clr-hl);
    width: 95vw;
}



.management-info {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    padding: 3em 0;
}

.profileName,
.management-name {
    font-size: 1.5rem;
    padding: 0.2em 0;
}

.profile-title {
    font-size: 0.75em;
}

.management-title {
    font-size: 1em;
}

.profileImageContainer,
.management-image-container {
    width: 100%;
}

.profileImage,
.management-image {
    /* width: 100%; */
    /* max-width: 150px; */
    object-fit: contain;
    border-radius: 50%;
}

.management-description {
    height: 25vh;
    overflow-y: scroll;
    font-size: 0.9em;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25, 209, 123, 0.8);
    z-index: 1000;
    animation: modal-animation 300ms ease-in-out;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: modal-animation 600ms ease-in-out;
}

.modal-close-btn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

@media (min-width: 600px) {
    .objective {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2em;
    }

    .objectiveImageContainer {
        width: 50%;
    }

    .objective:nth-child(odd){
        flex-direction: row-reverse;
    }

    .objectiveTitle {
        margin-top: 0;
        padding: 0;
    }


    .objectiveImage {
        width: 50vw;
    }

    .objectiveText {
        width: 50%;
    }

    .profileContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .management {
        max-width: 700px;
        padding: 1em 2.5em;
        margin: 0;
    }

    .management-inner-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
    }

    .management-image {
        width: 100%;
    }

    .management-image-container {
        width: 60%;
        margin: 0 auto;
        object-fit: contain;
    }

    .management-info {
        padding: 3em 1em;
    }
}

@media (min-width: 1200px) {
    .sectionAbout {
        max-width: 1000px;
    }

}

@keyframes modal-animation {
    0% {
        top: -100px;
        opacity: 0;
    }

    25% {
        top: -50px;
        opacity: 1;
    }

    50% {
        top: -20px;
        opacity: 1;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}