.heroContainer {
  height: 95vh;
  background-color: rgba(168, 202, 225, 0.3);
  background-image: url(../public/road-into-city.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: overlay; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.overlay {
  height: 100%;
  width: 100%;
  /* background: rgba(73, 74, 73, 0.2); */
  background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.25) 25%, rgba(9, 9, 9, 0.85) 100%);
  overflow: hidden;
  position: absolute;
  top: 0;
}

.hero {
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.heroHighlight {
  color: var(--clr-hl);
  text-shadow: 1px 4px 5px rgba(144, 146, 145, 0.3);
}


.logoTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
}


.heroLogo {
  width: 6em;
  margin-bottom: 0.5em;
}

.heroTitle {
  color: var(--clr-hl-5);
  font-size: 2em;
  letter-spacing: .2rem;
  text-align: center;
  margin: 3em 0 1em;
  display: inline-block;
}

.heroTitlePrimary {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  padding-bottom: 0.2em;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  -webkit-text-fill-color: var(--clr-hl-4);
  -webkit-text-stroke: 0.25px;
  -webkit-text-stroke-color: var(--clr-light);
}

.heroTitleSecondary {
  color: rgb(245, 250, 253);
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color: var(--clr-hl-2);
  padding: 0.2em 0.5em;
}

.heroPhrase {
  font-weight: 700;
  font-size: 2.7em;
  text-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
  line-height: 1.2;
  text-align: center;
  padding: 0.7em 1em 0.3em;

}

.heroList {
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
  color: var(--clr-light);
  max-width: 500px;
  margin-bottom: .3em;
  padding: 0 1em 0.5em;
}

.heroListItem {
  padding: 0 0 0 0.5em;
  margin-bottom: 0.5em;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heroListIcon {
  margin-right: 0.5em;
}


.catchphraseContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.6em;
}

.ctaContainer {
  width: 90%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.heroCtaBtn {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 400;
  width: 200px;
  padding: 0.65em 1.3em;
  margin-bottom: 1.5em;
  border: 3px solid var(--clr-hl-5);
  border-radius: 10px;
}

.heroCtaBtnForm {
  background-color: var(--clr-hl-5);
  color: rgb(245, 250, 253);
}

.heroCtaBtnContact {
  letter-spacing: 2px;
  color: rgb(245, 250, 253);
  /* margin-bottom: 3em; */
}

.heroCtaBtn:focus,
.heroCtaBtn:hover {
  background-color: var(--clr-light);
  border: 3px solid var(--clr-light);
  color: var(--clr-hl-5);
}

.carousel {
  width: 400%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  animation: slider 24s linear infinite;
}

.carouselImage {
  position: relative;
  width: 25%;
  height: 100%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

/* .carouselImage1 {
  background: url(./public/road-into-city.webp);
  background-size: cover;
  background-position: center;
}

.carouselImage2 {
  background: url(./public/pavedRoad.webp);
  background-size: cover;
  background-position: center;
}

.carouselImage3 {
  background: url(./public/asphalt.webp);
  background-size: cover;
  background-position: center;
}

.carouselImage4 {
  background: url(./public/public_speaking.webp);
  background-size: cover;
  background-position: center;
} */


/* =============== MEDIA QUERIES =============== */

@media (min-width: 890px) {

  .overlay {
    background: linear-gradient(to right,  rgba(0, 0, 0, 0.25) 36%, rgba(9, 9, 9, 0.85) 100%);
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .heroCtaBtnContact {
    margin-bottom: 1.5em;
  }

  .catchphraseContainer {
    margin: 0;
  }

  .heroTitle {
    margin: 1em 0;
  }

  .ctaContainer {
    flex-direction: row;
    justify-content: space-around;
  }

  .heroTitlePrimary {
    font-size: 5rem;
    padding-bottom: 0.4em;
  }


  .heroTitleSecondary {
    font-size: 1.4rem;
    padding: 0.5em;
  }

  .heroList {
    padding: 0.5em 1.5em;
  }

}